/*  */
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}
body{
  background-color: #333333;
  color: #b0b0b0;
  padding-top: 1em;
}
h1 {
  margin-left: 70px;
  font-family: sans-serif;
}
h2 {
  padding-top: 70px;
  padding-left: 15px;
  display: inline;
}
.tetris-container{
  max-width: 70%;
  float: left;
  width: auto;
  border: 2px solid gray;
  margin-left: 50px;
}
#nextBox::before{
  content: "Next Box";
  font-size: x-large;
  font-weight: bold;
  /* font-family: sans-serif; */
}
#nextBox {
  margin: 40px;
  display: inline;
  padding: 15px;
}
#nextBox > canvas {
  position: relative;
  left: 30px;
}